<div class = "all">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-agendamento">
        <span class="dasboard-text">Dashboard</span>
      </a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" routerLink="/register-agendamento">
            <div class="user-image" [style.background-image]="'url(' + (authService.userData.photoURL ? authService.userData.photoURL : 'assets/user-default.png') + ')'"></div>
            Hello Admin
          </a>
        </li>
      </ul>
    </nav>
    <!-- Sidebar navigation -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/register-agendamento" routerLinkActive="active">
                  Add Agendamento
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/view-agendamento" routerLinkActive="active">
                  Lista de Agendamento
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="inner-adjust">
            <router-outlet>
              <p>Tradicional e moderno, oferecemos serviços de beleza personalizados com mais de 20 anos de excelência. Nossa equipe talentosa e ambiente acolhedor garantem uma experiência única de cuidados capilares. Descubra sua verdadeira beleza no Cabeleireiro Hozan.</p>
              <div class="">
                <img class = "img-cont" src="/src/assets/foto1.png" alt="foto1">
              </div>
            </router-outlet>
          </div>
        </main>
      </div>
    </div>
</div>